<h1>GardenPi</h1>

<section>
Welcome to GardenPi, an application to automatically water and monitor a garden using a Raspberry Pi, a Ruby on Rails back end, and a React Native front end.

Please visit GitHib for the <%= link_to 'full GardenPi documentation', 'https://github.com/Mycobee/garden_pi_be' %>

  <aside>
  Created by:
  <ul>
    <li><%= link_to 'Billy Urrutia', 'https://github.com/CosmicSpagetti' %></li>
    <li><%= link_to 'Brian Plantico', 'https://github.com/bplantico' %></li>
    <li><%= link_to 'Colby Allen', 'https://github.com/colbyallen012' %></li>
    <li><%= link_to 'David Engel', 'https://github.com/David5280' %></li>
    <li><%= link_to 'Rob Stringer', 'https://github.com/Mycobee' %></li>
  </aside>
</section>
